{% extends 'clinic/main.html' %}
{% load static %}
{% block content %}
<br/>
<div class="row">
    <div class="col-lg-9">
        <div class="col-lg-6">
            <div class="box-element">
                Password Reset Complete...
                <div class="alert alert-info">
                    <div class="alert alert-info">
                        Your password has been successfully reset.
                    </div>
                    <br/>
                    <br/>
                    <div class="text-center">
                        <a class="small" href="{% url 'welltory:index' %}">Click here to login!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">

            </div>
        </div>
    </div>
</div>

</div>
<br/>
{% endblock content %}