{% extends 'clinic/main.html' %}
{% load static %}
{% block content %}
<br/>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            Password Reset Done...
            <div class="alert alert-info">
                Your request to reset your password has been sent.
                Kindly check your email address to complete the process.
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">

        </div>
    </div>
</div>

</div>
<br/>
{% endblock content %}