{% extends 'clinic/main.html' %}
{% load static %}
{% block content %}
<br/>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            Password Confirm Password Reset...
            <form class="user" method="POST">
                {% csrf_token %}

                {{ form|crispy }}

                <br/>
                <button type="submit" class="btn btn-primary col-12">
                    Reset My Password
                </button>
            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">

        </div>
    </div>
</div>

</div>
<br/>
{% endblock content %}